.cs-message-input__content-editor-wrapper {
  box-sizing: border-box;
  position: relative;
  background-color: #ffffff;
  margin: 0;
  padding: 0.6em 0.9em;
  border-radius: 0.7em;
  flex-grow: 1;
}
.cs-message-input__content-editor-container {
  box-sizing: border-box;
  position: relative;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
  overflow-y: auto;
  font-size: 0.94em;
  line-height: 1.35em;
  min-height: 1.35em;
  max-height: 5.4em;
  padding: 0em 0em 0em 0em;
  scroll-padding: 0em;
}
.cs-message-input__content-editor {
  box-sizing: border-box;
  flex-grow: 1;
  background-color: #ffffff;
  font-family: Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif;
  outline: 0;
  border-top: 0 none;
  border-right: 0 none;
  border-bottom: 0 none;
  border-left: 0 none;
  overflow: visible;
  color: rgba(0, 0, 0, 0.87);
  overflow-wrap: anywhere;
  word-break: break-word;
}
.cs-message--outgoing .cs-message__content {
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;
  border-radius: 0.7em 0.7em 0.7em 0.7em;
}
.cs-message__content {
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  background-color: #22d3ee;
  margin-top: 0;
  padding: 0.6em 0.9em;
  border-radius: 0.7em 0.7em 0.7em 0.7em;
  white-space: pre-wrap;
  overflow-wrap: anywhere;
  word-break: break-word;
  font-family: Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 0.91em;
  font-feature-settings: normal;
  font-variant: normal;
}
